

body {
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.section-text {
  font-size: 1.125rem;
  font-size: 1.5625rem;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 90px 15px;
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.section {
  height: 100vh;
  overflow: hidden;
}

.section.white {
  background: #fff;
}

.section.gray {
  background: #F5F5F8;
}

.section.blue {
  background: #343F49;
}

.section.blue h2.section-title {
  color: #fff;
}

.section.blue .section-text {
  color: #fff;
}

.text-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
