

body {
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.story.top {
  background: #000;
  position: relative;
}

.story.top::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "";
}

.story.top .image-wrap {
  background-image: url('../images/bb_numbers_header.jpg');
  background-size: cover!important;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.intro-text {
  max-width: 800px;
  margin: 0 auto;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
}

.top-section-text {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 80px;
  width: 100%;
}

.top-section-text p {
  margin-bottom: 0;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 0px 15px;
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.story-wrap {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

.story {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.story .image {
  background: #000;
  position: relative;
}

.story img {
  opacity: 0.5;
}

.story.white {
  background: #fff;
}

.story.gray {
  background: #F5F5F8;
}

.story.blue {
  background: #343F49;
}

.story.blue h2.section-title {
  color: #fff;
}

.story.blue .section-text {
  color: #fff;
}

.story.main .text-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.down-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  margin-top: 40px;
 -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}

.chart-section {
  padding: 10vh 0;
  position: relative;
  z-index: 900;
}
